#if you would like to use gdb in 32bit mode, comment out lines 8 and 15, then uncomment
#the lines after. Note this will only work properly until 64bit mode is enabled in entry.S

set architecture i386:x86-64:intel
target remote localhost:1234
symbol-file kernel
break main
